.openfile {
  margin-left: 24px;
  background-color: #1e1e1e;
}

.tab {
  width: fit-content;
  font-size: 14px;
  padding: 4px;
  background-color: var(--color-sourcecode-surface-tab);
  color: var(--color-primary-text);
}

.tabs {
  background-color: var(--color-menu);
}

.content {
  overflow: auto; /* scroll within file content (not to include file name tab in vertical scroll) */
}

.content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #252526; /* or add it to the track */
}

.content::-webkit-scrollbar-thumb {
  background-color: #2b2b30;
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:horizontal {
  background-color: #37373d;
  border-radius: 4px;
}

.content::-webkit-scrollbar-corner {
  background-color: #252526;
}
