.tab.selected {
  width: fit-content;
  background-color: var(--color-menu);
  color: var(--color-primary-text);
  padding: 8px 4px;
  padding-bottom: 8px;
  border: 1px solid var(--color-primary-text);
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
}

.tab.unselected {
  width: fit-content;
  background-color: var(--color-surface);
  color: var(--color-disabled-text);
  padding: 8px 4px;
  border-radius: 4px 4px 0px 0px;
}
