.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-bottom: 0px;
  height: 37px;

  border-bottom: 1px solid var(--color-primary-text);
}

.tabs {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  position: relative;
  top: 1px;
  width: fit-content;
}

.tab {
  font-size: 12px;
  width: fit-content;
  border-radius: 4px 4px 0px 0px;
}

.tab.selected {
  background-color: var(--color-menu);
  color: var(--color-primary-text);

  padding: 4px 8px;
  padding-bottom: 8px;

  border: 1px solid var(--color-primary-text);
  border-bottom: none;
}

.tab.unselected {
  background-color: var(--color-surface);
  color: var(--color-disabled-text);
  padding: 4px 8px;
}
